<section class="menuContainer">
  <cover></cover>
  <ul>
    <a href="/#/"><li class="wrapper stream active"><i class="fa fa-soundcloud"></i><div class="label">Stream</div></li></a>
    <a href="/#/explore"><li class="wrapper explore"><i class="fa fa-compass"></i><div class="label">Explore</div></li></a>
    <a href="/#/likes"><li class="wrapper likes"><i class="fa fa-heart"></i><div class="label">Likes</div></li></a>
    <a href="/#/playlists"><li class="wrapper playlists"><i class="fa fa-folder-open"></i><div class="label">Playlists</div></li></a>
  </ul>
</section>