<div class="sound">
  <a class="sound__coverArt" ng-href="#/track/{{value.permalink}}">
    <div class="image__hasPlaceholder">
      <img ng-src="{{value.artwork_url ? value.artwork_url : value.user.avatar_url}}">
    </div>
  </a>
  <div class="sound__header">
    <div class="soundTitle">
      <div class="soundTitle__playButton">
        <button class="sc-button sc-button-large" ng-class="(playing) ? ($parent.user.currentSound.track.id == value.id) ? 'sc-button-pause' : 'sc-button-play' : 'sc-button-play' " ng-click="play(value)" title="Play">Play
        </button>
      </div>
      <div class="soundInfo">
        <a class="soundTitle__username sc-link-light" ng-href="#/user/{{value.user.id}}">{{value.user.username}}</a>
        <div class="clear"></div>
        <a class="soundTitle__title" ng-href="#/track/{{value.id}}">{{value.title}}</a>
      </div>
    </div>
  </div>
</div>
